.nav-custom {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  transition: transform 0.6s;
  margin-right: 10px;
  color: var(--color-blanco) !important;
}

.nav-custom:hover {
  color: var(--color-azulHonolulu) !important;
  transform: scale(1.06);
}

.navbar-transparente {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: 0;
  margin-top: 35px;
}

.dropdown-menu {
  display: block !important;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition: all 0.5s ease-in-out;
}

.dropdown-menu.show {
  visibility: visible;
  opacity: 1;
  max-height: 500px;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .navbar {
    padding: 15px !important;
  }
  .img-logo {
    height: 50px;
    width: auto;
  }
  .navbar-toggler {
    padding: 15px;
    font-size: 15px;
    border: 1px solid rgba(241, 244, 248, 0.5);
  }
  .navbar-toggler:focus {
    box-shadow: 0 0 6px 2px var(--color-blancoAntiflash);
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23f1f4f8' stroke-width='2' d='M4 7h22M4 15h22M4 23h22' /%3e%3c/svg%3e");
  }
  .nav-link {
    font-size: 16px;
  }
  .dropdown-custom > .dropdown-toggle {
    font-size: 16px !important;
  }
  .dropdown-custom .dropdown-menu .nav-drop {
    font-size: 14px !important;
  }
}

.navbar-default {
  background-color: var(--color-azulHonolulu);
  position: relative;
  top: 35px;
}

.navbar-default .nav-link:hover {
  color: var(--color-naranja) !important;
}

.dropdown-custom > .dropdown-toggle {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  transition: transform 0.6s;
  margin-right: 10px;
  color: var(--color-blanco);
}

.navbar-transparente .dropdown-custom > .dropdown-toggle:hover {
  color: var(--color-azulHonolulu) !important;
}

.navbar-default .dropdown-custom > .dropdown-toggle:hover {
  color: var(--color-naranja) !important;
}

.dropdown-custom .dropdown-menu {
  background-color: var(--color-blancoAntiflash);
  padding: 0;
}

.dropdown-custom > .dropdown-toggle {
  color: var(--color-blanco) !important;
}

.dropdown-custom .dropdown-item {
  border-top: 1px solid var(--color-azulHonolulu);
}

.dropdown-custom .dropdown-item:hover {
  background-color: #2f99d62d;
}

.dropdown-custom .dropdown-menu .nav-drop {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  transition: transform 0.6s;
  margin-right: 10px;
  color: var(--color-añil) !important;
}

.dropdown-custom .dropdown-menu .nav-drop:hover {
  transform: scale(1.06);
}
