.fondo-huellas {
  background-image: url("/fondo-huellas.jpg");
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

.descripciones {
  padding: 5%;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}

.descripciones .row {
  background-color: #f1661683;
  backdrop-filter: blur(10px);
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  margin-bottom: 5%;
}

.img-custom {
  height: 65%;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.img-facu {
  height: 90%;
}

.titulo-descripcion {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: black;
  text-shadow: 0 5px 8px rgba(255, 255, 255, 0.3);
}

.descripcion-grupo {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
}

.icono-redes {
  color: #333;
  transition: transform 0.3s, color 0.3s;
  cursor: pointer;
}

.icono-redes:hover {
  transform: scale(1.2);
  color: #5a5a5a;
}

@media (max-width: 576px) {
  .descripciones {
    padding-top: 50px;
  }
  .col-info {
    padding-bottom: 10%;
  }
  .img-custom {
    height: 80%;
  }
}

@media (max-width: 1024px) {
  .col-info {
    padding: 2%;
  }
  .descripcion-grupo {
    font-size: 16px;
  }
  .titulo-descripcion {
    font-size: 20px;
  }
}
