footer {
  .bg-footer {
    background-color: var(--color-azulHonolulu);
  }
  h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: var(--color-blanco);
  }
  ul {
    li {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      color: var(--color-blanco);
      padding-bottom: 5px;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  p {
    color: var(--color-blanco);
  }
}

.info a:hover {
  color: var(--color-naranja);
}

.info hr {
  background-color: var(--color-blanco);
  height: 3px;
}

.redes-footer a {
  margin-right: 15px;
}

.copyright {
  background-color: var(--color-naranja);
  p {
    font-size: 17px;
    color: var(--color-blanco);
  }
}

.icons-footer {
  margin-right: 6px;
}

.logo-footer {
  width: 40%;
  height: auto;
  padding-top: 50px;
}

.senasa {
  width: 35%;
  height: auto;
  margin-right: 20px;
}

.colegioVet {
  width: 35%;
  height: auto;
}

.horario {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .red-social {
    height: 40px;
  }
  .senasa {
    height: 60px;
    width: auto;
  }
  .colegioVet {
    height: 70px;
    width: auto;
  }
  .logo-footer {
    height: 80px;
    width: auto;
    padding-top: 0px;
  }
}
