.titulo-carrito {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.total-pagar {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.col-cantidad {
  width: 200px;
  input {
    width: 50px;
  }
}
